body{

    background-color:gray ;
    position: absolute;
}
img{
	width:100px 
	}	
div.right {
			float:left;
            
			}
div.left	{
			float: right;
           		
			}	
fieldset {
    background-color: white ;
    margin: 100px 250px ;
    padding: 60px
    border : 20px solid red ;
        
}
p.Heading2 {
        text-decoration: underline ;
}
p.h3 {
        font-size: 150%
    }        
    
    
    
}