body{
	margin:auto;
    background-color: darkgrey
		}
img{
	width:100px 
	}	
div.right {
			float:left;
            
			}
div.left	{
			float: right;
            
			
			}	
fieldset {
    background-color: white ;
    margin: auto ;
    padding: 20 px
    border : 20px red ;
        
}
p.Heading2 {
        text-decoration: underline ;
        
    
    
    
}